.button-container {
  display: flex;
  flex-direction: row;
}

.button-container > .biti {
  background-image: linear-gradient(to right, purple, green);
  opacity: 0.8;
  color: rgb(4, 255, 0);
  margin: 5px auto;
  cursor: pointer;
  padding: 20px;
  width: 100px;

  font-size: 15px;
  font-weight: 700;
}

.btn-deal {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: black;
  color: white;
  cursor: pointer;
  border: 1px solid red;
  font-weight: 700;
  letter-spacing: 1.5px;
  font-family: "Times New Roman", Times, serif;
}

.btn-deal:hover {
  background-color: beige;
  color: black;
}
